.logo .logo-web{
    margin-left: auto;
    margin-right: auto;
    display: block;
color: #2196F3;
font-family: Raleway;
font-style: normal;
font-weight: bold;
font-size: 26px;
line-height: 1.19;

}
.logo {
    display: flex;
    align-items: center; 
    color: $primary-link-color;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 25px 
      
}
.logo .logo-studio-footer{
    color: #FFFFFF;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
} 


