.bussines{
    width: 100%;
     text-align: center;
     padding-left: 20px;
    padding-right: 20px;
  
    }
.hero{
   
    /*max-width: 1600px;*/

    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)
    ),    
url("../img/30.jpg");
    background-size: cover;

     margin-left: auto;
    margin-right: auto ;
    background-repeat: no-repeat;
    background-position: center;
    
}
.central-inscription {
    margin-left: auto;
    margin-right: auto ;
    width: 696px;
    color: #FFFFFF;
    padding-top: 200px;
    padding-bottom: 30px;
    font-weight: 900px;
    font-size: 44px;
    line-height: 1.36; 
    text-align: center; 
  }
