.team{
    text-align: center;
background: #F5F4FA;
padding-left: 20px;
padding-right: 20px;
}


.images-block-text{
padding-bottom: 50px;
color: $primary-link-color;
font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
}
.team-block{
margin-left: auto;
margin-right: auto;

display: flex;
padding-left: auto;
padding-right: auto;
justify-content:center;

& .items{
width: 270px;
margin-bottom: 94px;
padding-bottom: 30px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

& .items + .items{
margin-left: 30px;

}
}
.comands-text-primary{
margin-left: auto;
margin-right: auto;
padding-top: 30px;
padding-bottom: 10px;
width: 270px;
left: 215px;
top: 774px;
color: $secondary-text-color;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
}
.comands-text-secondary{

margin-left: auto;
margin-right: auto;
padding-top: 10px;
padding-bottom: 10px;
width: 130px;
color: $primary-text-color;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;

}

.item::after{
/*display: block;*/
content: "";
height: 120px;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
background-color: #F5F4FA;
border-radius: 4px;
margin-bottom: 30px;

}

.our-team{
border: none;
display: flex;
margin-right: auto;
margin-left: auto;
padding: 0 0;
justify-content: space-between;
width: 206px;
}   